<% provide(:title, 'Pictures') %>
<h1>Pictures</h1>

<%= form_tag('/pictures/init') do %>
  <%= label_tag(:path, 'Pictures path') %>
  <%= text_field_tag(:path) %>
  <%= submit_tag("Import") %>
<% end %>

<hr />

<% if @pictures.count > 0 %>
  <table>
    <tr>
      <th>path</th>
      <th>esposure_time</th>
      <th>f_number</th>
      <th>focal_length</th>
      <th>iso</th>
      <th>body</th>
      <th>lens</th>
    </tr>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.path %></td>
        <td><%= picture.exposure_time %></td>
        <td><%= picture.f_number %></td>
        <td><%= picture.focal_length %></td>
        <td><%= picture.iso %></td>
        <td><%= picture.body.name %></td>
        <td><%= picture.lens.name %></td>
        </td>
      <% end %>
  </table>
<% else %>
  <p>no pictures</p>
<% end %>
